[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = {extras = ["toy-text"], version = "*"}
notebook = "*"
torch = "*"
tensorboard = "*"
matplotlib = "*"
pyvirtualdisplay = "*"
tqdm = "*"
pandas = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"